@import '../../../variable-colors.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  height: calc(100vh - 92.4px);

  box-sizing: border-box;

  margin: 92.4px 0 0 0;
  padding: 8px 16px;
}

.stl-file-data {
  display: flex;
  flex-direction: column;
  gap: 8px;

  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);

  z-index: 100;

  width: fit-content;
  height: fit-content;

  padding: 16px;
  border-radius: 8px;
  border: 1px solid $secondary;

  background-color: $light;

  font-size: 14px;

  .data-key {
    font-size: 12px;
    color: $dark;
  }

  p-button {
    padding: 8px 0 0 0;
    align-self: center;
  }
}
