<div *ngIf="cartItems.length > 0; else emptyCart" class="container">
  <form class="form-wrapper" (ngSubmit)="placeOrder()">
    <div class="filament-options-container">
      <p-dropdown
        [options]="filament_type_options"
        [(ngModel)]="filament_type"
        [showClear]="true"
        placeholder="Choose a Filament Type"
        styleClass="{'width':'100%'}"
        name="filament_type"></p-dropdown>

      <p-dropdown
        [options]="filament_color_options"
        [(ngModel)]="filament_color"
        [showClear]="true"
        placeholder="Choose a Filament Color"
        styleClass="{'width':'100%'}"
        name="filament_color"></p-dropdown>
    </div>

    <div class="name-options-container">
      <p-floatLabel>
        <input
          id="name"
          type="text"
          pInputText
          name="first_name"
          styleClass="{'width':'100%'}" />
        <label for="name">First Name</label>
      </p-floatLabel>

      <p-floatLabel>
        <input
          id="last_name"
          type="text"
          pInputText
          name="last_name"
          styleClass="{'width':'100%'}" />
        <label for="last_name">Last Name</label>
      </p-floatLabel>
    </div>

    <div class="comms-options-container">
      <p-floatLabel>
        <input
          id="email"
          type="email"
          pInputText
          name="email"
          styleClass="{'width':'100%'}" />
        <label for="email">Email</label>
      </p-floatLabel>

      <p-floatLabel>
        <p-inputMask
          mask="(+99) 999 999 999"
          [(ngModel)]="phone"
          id="phone"
          name="phone"
          styleClass="{'width':'100%'}" />
        <label for="phone">Phone</label>
      </p-floatLabel>
    </div>

    <div class="address-options-container">
      <p-floatLabel>
        <input
          id="address"
          type="text"
          pInputText
          [(ngModel)]="address"
          name="address" />
        <label for="address">Address</label>
      </p-floatLabel>

      <div class="city-postal-options-container">
        <p-floatLabel>
          <input
            id="city"
            type="text"
            pInputText
            [(ngModel)]="city"
            name="city" />
          <label for="city">City</label>
        </p-floatLabel>

        <p-floatLabel>
          <p-inputMask
            mask="99-999"
            [(ngModel)]="postalCode"
            id="postalCode"
            name="postalCode" />
          <label for="postalCode">Postal Code</label>
        </p-floatLabel>
      </div>

      <p-dropdown
        [options]="countries"
        [(ngModel)]="selectedCountry"
        [showClear]="true"
        placeholder="Select a Country"
        name="country"></p-dropdown>
    </div>

    <div class="payment-methods">
      <p-button
        class="button-bank-transfer"
        outlined="true"
        type="submit"
        severity="contrast">
        <img src="assets/svg/bank-transfer-logo.svg" alt="Bank Transfer" />
      </p-button>
      <p-button
        class="button-blik"
        outlined="true"
        type="submit"
        severity="contrast">
        <img src="assets/svg/blik-logo.svg" alt="BLIK" />
      </p-button>
      <p-button
        class="button-paypal"
        outlined="true"
        type="submit"
        severity="contrast">
        <img src="assets/svg/paypal-logo.svg" alt="PayPal" />
      </p-button>
      <p-button
        class="button-debit"
        outlined="true"
        type="submit"
        severity="contrast">
        <img src="assets/svg/debit-card-logo.svg" alt="Debit Card" />
      </p-button>
    </div>
  </form>

  <p-divider layout="vertical"></p-divider>

  <div class="cart-items-wrapper">
    <div class="cart-total">
      Total:
      <span>{{ getTotalPrice() | currency: 'PLN' }}</span>
    </div>

    <div class="list-layout">
      <div *ngFor="let cartItem of cartItems" class="list-item">
        @if (!cartItem.item.image) {
          <div class="image-placeholder"></div>
        } @else {
          <p-image src="{{ cartItem.item.image }}" alt="Image" width="128" />
        }
        <div class="item-details">
          <span class="item-category">{{ cartItem.item.category }}</span>
          <span class="item-title">{{ cartItem.item.name }}</span>
          <div class="item-details-footer">
            <span class="item-price">
              {{ cartItem.item.price | currency: 'PLN' }}
            </span>
            <div class="item-quantity-management">
              <p-button
                icon="pi pi-minus"
                [rounded]="true"
                [outlined]="true"
                severity="danger"
                (click)="decreaseQuantity(cartItem.item._id!)" />
              {{ cartItem.quantity }}
              <p-button
                icon="pi pi-plus"
                [rounded]="true"
                [outlined]="true"
                severity="success"
                (click)="increaseQuantity(cartItem.item._id!)" />
            </div>
            <p-button
              icon="pi pi-trash"
              [rounded]="true"
              severity="danger"
              (click)="removeItem(cartItem.item._id!)" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyCart>
  <div class="container-empty-cart">Empty Cart</div>
</ng-template>
