<div *ngIf="cartItems.length > 0; else emptyCart" class="container">
  <div class="form-wrapper">
    <form (ngSubmit)="placeOrder()">
      <p-floatLabel>
        <input
          id="filament_type"
          type="text"
          pInputText
          [(ngModel)]="filament_type"
          name="filament_type" />
        <label for="filament_type">Filament Type</label>
      </p-floatLabel>
      <p-floatLabel>
        <input
          id="filament_color"
          type="text"
          pInputText
          [(ngModel)]="filament_color"
          name="filament_color" />
        <label for="filament_color">Filament Color</label>
      </p-floatLabel>
      <p-floatLabel>
        <input
          id="address"
          type="text"
          pInputText
          [(ngModel)]="address"
          name="address" />
        <label for="address">Address</label>
      </p-floatLabel>
      <p-floatLabel>
        <input
          id="city"
          type="text"
          pInputText
          [(ngModel)]="city"
          name="city" />
        <label for="city">City</label>
      </p-floatLabel>
      <p-floatLabel>
        <p-inputMask
          mask="99-999"
          [(ngModel)]="postalCode"
          id="postalCode"
          name="postalCode" />
        <label for="postalCode">Postal Code</label>
      </p-floatLabel>
      <!-- <p-floatLabel>
        <input
          id="country"
          type="text"
          pInputText
          [(ngModel)]="selectedCountry"
          name="country" />
        <label for="country">Country</label>
      </p-floatLabel> -->
      <p-dropdown
        [options]="countries"
        [(ngModel)]="selectedCountry"
        [showClear]="true"
        placeholder="Select a Country"
        name="country"></p-dropdown>
      <p-floatLabel>
        <p-inputMask
          mask="(+99) 999 999 999"
          [(ngModel)]="phone"
          id="phone"
          name="phone" />
        <label for="phone">Phone</label>
      </p-floatLabel>

      <!-- <select [(ngModel)]="paymentMethod" name="paymentMethod">
        <option value="Debit Card">Debit Card</option>
        <option value="PayPal">PayPal</option>
        <option value="BLIK">BLIK</option>
        <option value="Bank Transfer">Bank Transfer</option>
      </select>

      <div class="p-field dialog-input">
        <label for="paymentMethod">Category*</label>
        <select
          id="paymentMethod"
          [(ngModel)]="paymentMethod"
          class="p-inputtext p-component">
          <option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </option>
        </select>
      </div> -->

      <button type="submit">Place Order</button>
    </form>
  </div>

  <p-divider layout="vertical"></p-divider>

  <div class="cart-items-wrapper">
    <div class="cart-total">
      Total:
      <span>{{ getTotalPrice() | currency: 'PLN' }}</span>
    </div>

    <div class="list-layout">
      <div *ngFor="let cartItem of cartItems" class="list-item">
        @if (!cartItem.item.image) {
          <div class="image-placeholder"></div>
        } @else {
          <p-image src="{{ cartItem.item.image }}" alt="Image" width="128" />
        }
        <div class="item-details">
          <span class="item-category">{{ cartItem.item.category }}</span>
          <span class="item-title">{{ cartItem.item.name }}</span>
          <div class="item-details-footer">
            <span class="item-price">
              {{ cartItem.item.price | currency: 'PLN' }}
            </span>
            <div class="item-quantity-management">
              <p-button
                icon="pi pi-minus"
                [rounded]="true"
                [outlined]="true"
                severity="danger"
                (click)="decreaseQuantity(cartItem.item._id!)" />
              {{ cartItem.quantity }}
              <p-button
                icon="pi pi-plus"
                [rounded]="true"
                [outlined]="true"
                severity="success"
                (click)="increaseQuantity(cartItem.item._id!)" />
            </div>
            <p-button
              icon="pi pi-trash"
              [rounded]="true"
              severity="danger"
              (click)="removeItem(cartItem.item._id!)" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyCart>
  <div class="container-empty-cart">Empty Cart</div>
</ng-template>
