{
  "useTabs": true,
  "tabWidth": 4,
  "printWidth": 80,
  "trailingComma": "es5",
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "useTabs": false,
        "tabWidth": 2
      }
    }
  ]
}
