<div class="container">
  <p-dataView id="marketplace-dataView" [value]="items" [layout]="'grid'">
    <ng-template pTemplate="header">
      <div class="header">
        <input
          type="text"
          pInputText
          placeholder="Search"
          [(ngModel)]="searchQuery"
          (input)="onSearch()" />
        <p-button
          icon="pi pi-refresh"
          [rounded]="true"
          [text]="true"
          (click)="onRefresh()"></p-button>
        <p-button
          icon="pi pi-times"
          [rounded]="true"
          [text]="true"
          (click)="onClear()"></p-button>
        <div class="cart">
          <p-button
            icon="pi pi-shopping-cart"
            (click)="goToCart()"
            label="View Cart"
            [badge]="itemsInCart.toString()"></p-button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="grid" let-items>
      <div class="grid-layout">
        <div *ngFor="let item of items" class="grid-item">
          @if (!item.image) {
            <div class="image-placeholder"></div>
          } @else {
            <p-image src="{{ item.image }}" alt="Image" width="128" />
          }
          <div class="item-details">
            <span class="item-category">{{ item.category }}</span>
            <span class="item-title">{{ item.name }}</span>
            <div class="item-details-footer">
              @if (item.price) {
                <span class="item-price">
                  {{ item.price | currency: 'PLN' }}
                </span>
                <p-button
                  icon="pi pi-shopping-cart"
                  label="Add to Cart"
                  size="small"
                  (click)="addToCart(item)"></p-button>
              } @else {
                <span class="item-price out-of-stock">Not Available</span>
              }
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
