<p-sidebar
  [visible]="sidebarVisible"
  [dismissible]="false"
  (onHide)="toggleSidebar()">
  <ng-template pTemplate="header" class="p-sidebar-header-wrapper">
    <h3>print3d</h3>
  </ng-template>
  <ng-template pTemplate="content">
    <!-- <div class="sidebar-menu-wrapper">
      <p-menu styleClass="sidebar-menu" [model]="items" />
    </div> -->
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="footer-wrapper">
      @if (!currentUser) {
        <div class="login-register-buttons">
          <p-button
            label="Login"
            icon="pi pi-sign-in"
            severity="success"
            size="small"
            [raised]="true"
            (click)="showLoginDialog()"></p-button>
          <p-button
            label="Register"
            icon="pi pi-user-plus"
            severity="primary"
            size="small"
            [raised]="true"
            (click)="showRegisterDialog()"></p-button>
        </div>
      }
      @if (currentUser) {
        <div class="current-user-info">
          <p>
            Logged in as:
            <b>{{ currentUser.username }}</b>
          </p>
          <p-button
            label="Logout"
            icon="pi pi-sign-out"
            severity="danger"
            size="small"
            [raised]="true"
            (click)="logoutConfirm($event)"></p-button>
        </div>
      }
    </div>
  </ng-template>
</p-sidebar>

<app-login [(visible)]="loginDialogVisible"></app-login>
<app-register [(visible)]="registerDialogVisible"></app-register>
