<p-dialog
  [(visible)]="visible"
  modal="true"
  [header]="isEditMode ? 'Edit Item' : 'Create Item'"
  [style]="{ 'min-width': '50vw' }"
  [closable]="true"
  (onHide)="close()">
  <div class="p-fluid dialog-internal-wrapper">
    <div class="p-field dialog-input">
      <label for="name">Name*</label>
      <input id="name" type="text" pInputText [(ngModel)]="itemCopy.name" />
    </div>

    <div class="p-field dialog-input">
      <label for="description">Description*</label>
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="itemCopy.description"></textarea>
    </div>

    <div class="dialog-input-row">
      <div class="p-field dialog-input input-public">
        <label for="isPublic">Public*</label>
        <p-toggleButton
          id="isPublic"
          [(ngModel)]="itemCopy.isPublic"
          onLabel="True"
          offLabel="False"></p-toggleButton>
      </div>

      <div class="p-field dialog-input input-category">
        <label for="category">Category*</label>
        <select
          id="category"
          [(ngModel)]="itemCopy.category"
          class="p-inputtext p-component">
          <option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </option>
        </select>
      </div>

      <div class="p-field dialog-input input-price">
        <label for="price">Price</label>

        <div class="dialog-input-row">
          <p-toggleButton
            [(ngModel)]="isPriceEnabled"
            onLabel="Enabled"
            offLabel="Disabled"
            [disabled]="!canSetPrice"></p-toggleButton>
          <input
            id="price"
            type="number"
            pInputText
            [(ngModel)]="itemCopy.price"
            [disabled]="!isPriceEnabled || !canSetPrice" />
        </div>
      </div>
    </div>

    <div class="p-field dialog-input">
      <label for="fileSearch">Search Files</label>
      <input
        id="fileSearch"
        type="text"
        pInputText
        (input)="onFileSearch($event)" />
    </div>

    <p-table
      [value]="files"
      [(selection)]="selectedFileIds"
      [rowHover]="true"
      dataKey="_id"
      [styleClass]="'p-datatable-sm p-datatable-striped'"
      [scrollable]="true"
      scrollDirection="both"
      scrollHeight="300px">
      <ng-template pTemplate="header">
        <tr>
          <th>
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Name</th>
          <th>Public</th>
          <th>Size</th>
          <th>Upload Date</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-file>
        <tr>
          <td>
            <p-tableCheckbox [value]="file"></p-tableCheckbox>
          </td>
          <td>{{ file.filename }}</td>
          <td>{{ file.metadata.isPublic ? 'True' : 'False' }}</td>
          <td>{{ file.length }} bytes</td>
          <td>{{ file.uploadDate | date: 'H:mm:ss d/M/yyyy' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-footer>
    <p-button
      label="Cancel"
      icon="pi pi-times"
      (click)="close()"
      class="p-button-text"></p-button>
    <p-button label="Save" icon="pi pi-check" (click)="saveItem()"></p-button>
  </p-footer>
</p-dialog>
