<div class="container">
  <p-dataView id="marketplace-dataView" [value]="orders" [layout]="'list'">
    <ng-template pTemplate="list" let-items>
      <div class="list-layout">
        <div *ngFor="let order of orders" class="list-item">
          <div class="order-details">
            <div class="order-row">
              <span class="order-date">
                {{ order.createdAt | date: 'H:mm d MMM yyyy' }}
              </span>
              <p-divider layout="vertical"></p-divider>
              <div>
                ID:
                <span class="order-id">{{ order._id }}</span>
              </div>
              <p-divider layout="vertical"></p-divider>
              <span class="order-summary">{{ getOrderTitle(order) }}</span>
            </div>
            <div class="order-status">
              Status:
              <span>{{ toCapitalCase(order.status) }}</span>
            </div>
            <div class="order-total">
              Total:
              <span>{{ order.total | currency: 'PLN' }}</span>
            </div>
            <div class="order-payment-status">
              Payment:
              <span>{{ toCapitalCase(order.payment_status) }}</span>
            </div>
          </div>
          <div class="order-view-details">
            <p-button (click)="viewOrderDetails(order._id!)">Details</p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
