$colors: (
  primary: #007bff,
  secondary: #6c757d,
  success: #28a745,
  info: #17a2b8,
  warning: #ffc107,
  danger: #dc3545,
  light: #f8f9fa,
  dark: #343a40,
  white: #ffffff,
);

$font-family: (
  primary: 'Roboto',
  secondary: 'Open Sans',
  tertiary: 'Lato',
  quaternary: sans-serif,
);

html {
  font-size: 12px;
  font-family: 'Roboto', 'Open Sans', 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
