<div class="card flex justify-content-center">
  <p-dialog
    header="Register"
    [modal]="true"
    [(visible)]="visible"
    (onHide)="closeDialog()">
    <form
      class="register-form"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()">
      <span class="p-float-label">
        <input pInputText class="p-inputtext-sm" formControlName="username" />

        <label for="username">Username</label>
      </span>
      <span class="p-float-label">
        <input pInputText class="p-inputtext-sm" formControlName="email" />
        <label for="username">E-mail</label>
      </span>
      <span class="p-float-label">
        <p-password
          class="p-inputtext-sm"
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false">
          >
        </p-password>
        <label for="password">Password</label>
      </span>
      <span class="p-float-label">
        <p-password
          class="p-inputtext-sm"
          formControlName="confirmPassword"
          [toggleMask]="true"
          [feedback]="false">
          >
        </p-password>
        <label for="password">Confirm Password</label>
      </span>
    </form>

    <p-footer>
      <button
        pButton
        type="submit"
        label="Submit"
        size="small"
        [raised]="true"
        [disabled]="registerForm.invalid"
        (click)="onSubmit()"></button>
    </p-footer>
  </p-dialog>
</div>
